## ETL (proceso de transformacion)

In [ ]:
#importamos los modulos y librerias a usar

import pandas as pd
import numpy as np
from datetime import datetime
from ast import literal_eval
import ast

In [ ]:
#carga de los datasets

movies = pd.read_csv('/content/drive/MyDrive/Kaarla,/Copia de movies_dataset.csv')
creditos = pd.read_csv('/content/drive/MyDrive/Kaarla,/Copia de credits.csv')

<ipython-input-3-ab496f5e94f8>:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('/content/drive/MyDrive/Kaarla,/Copia de movies_dataset.csv')

In [ ]:
pd.options.display.max_columns=0 #vista previa de los datasets
movies.head(2)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0

[2 rows x 24 columns]

In [ ]:
creditos.head(2)

                                                cast  ...    id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...   862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...  8844

[2 rows x 3 columns]

In [ ]:
# generamos copia de los archivos anteriores

credits=creditos.copy()
movie=movies.copy()

In [ ]:
# verificamos los duplicados en creditos1
print('DATASET CREDITS')
print(credits.duplicated().value_counts())
print('-----------------------------------------------')
print('DATASET MOVIE')
print(movie.duplicated().value_counts())

DATASET CREDITS
False    45439
True        37
dtype: int64
-----------------------------------------------
DATASET MOVIE
False    45453
True        13
dtype: int64

In [ ]:
# eliminamos duplicados de los datasets

credits=credits.drop_duplicates()
movie=movie.drop_duplicates()

In [ ]:
# reindexacion de los datasets
credits=credits.reset_index(drop=True)
movie=movie.reset_index(drop=True)

In [ ]:
# recuento de nulos por columna en credits
credits.isna().sum()

cast    0
crew    0
id      0
dtype: int64

In [ ]:
# conversion de str a lista de diccionarios por fila : cast and crew

credits['cast']= credits.cast.apply(literal_eval)
credits['crew']=credits.crew.apply(literal_eval)

breve descripcion de cada columna:

 - adult: Indica si la película tiene califiación X, exclusiva para adultos.
 - belongs_to_collection: Un diccionario que indica a que franquicia o serie de películas pertenece la película
 - budget: El presupuesto de la película, en dólares
 - genres	: Un diccionario que indica todos los géneros asociados a la película
 - homepage	: La página web oficial de la película
 - id	: ID de la pelicula
 - imdb_id : IMDB ID de la pelicula
 - original_language : Idioma original en la que se grabo la pelicula
 - original_title	: Titulo original de la pelicula
 - overview :	Pequeño resumen de la película
 - popularity	: Puntaje de popularidad de la película, asignado por TMDB (TheMoviesDataBase)
 - poster_path :	URL del póster de la película
 - production_companies	: Lista con las compañias productoras asociadas a la película
 - production_countries :	Lista con los países donde se produjo la película
 - release_date	: Fecha de estreno de la película
 - revenue : Recaudación de la pelicula, en dolares
 - runtime	: Duración de la película, en minutos
 - spoken_languages	: Lista con los idiomas que se hablan en la pelicula
 - status :	Estado de la pelicula actual (si fue anunciada, si ya se estreno, etc)
 - tagline	: Frase celebre asociadaa la pelicula
 - title	: Titulo de la pelicula
 - video	: Indica si hay o no un trailer en video disponible en TMDB
 - vote_average	: Puntaje promedio de reseñas de la pelicula
 - vote_count	: Numeros de votos recibidos por la pelicula, en TMDB

# transformacion de los campos anidados en el dataframe movie

In [ ]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45453 entries, 0 to 45452
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45453 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45453 non-null  object
 3   genres                 45453 non-null  object
 4   homepage               7780 non-null   object
 5   id                     45453 non-null  object
 6   imdb_id                45436 non-null  object
 7   original_language      45442 non-null  object
 8   original_title         45453 non-null  object
 9   overview               44499 non-null  object
 10  popularity             45448 non-null  object
 11  poster_path            45067 non-null  object
 12  production_companies   45450 non-null  object
 13  production_countries   45450 non-null  object
 14  release_date           45366 non-null  object
 15  revenue                45447 non-null  float64
 16  runtime                45190 non-null  float64
 17  spoken_languages       45447 non-null  object
 18  status                 45366 non-null  object
 19  tagline                20408 non-null  object
 20  title                  45447 non-null  object
 21  video                  45447 non-null  object
 22  vote_average           45447 non-null  float64
 23  vote_count             45447 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [ ]:
# observar filas que no son str en la columna prodution companies
movie['production_companies'].apply(lambda x : 'no es tring' if type(x)!=str else x).loc[movie['production_companies'].apply(lambda x : 'no es tring' if type(x)!=str else x) =='no es tring']

19724    no es tring
29490    no es tring
35574    no es tring
Name: production_companies, dtype: object

In [ ]:
# observar las filas diferentes a la mayoria de filas
movie['belongs_to_collection'] #.apply(lambda x : "{'id': 0, 'name': 'sin_dato','poster_path': 'sin_dato', 'backdrop_path': 'sin_dato'}" if type(x)!=str  or type(ast.literal_eval(x))!=dict else x)

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45448                                                  NaN
45449                                                  NaN
45450                                                  NaN
45451                                                  NaN
45452                                                  NaN
Name: belongs_to_collection, Length: 45453, dtype: object

In [ ]:
movie['production_companies'].apply(lambda x : "[{'name': 'sin_dat', 'id': 0}]" if type(x)!=str or type(ast.literal_eval(x))!=list or len(ast.literal_eval(x))==0 or type(ast.literal_eval(x)[0])!=dict else x).loc[movie['production_companies'].apply(lambda x : "[{'name': 'sin_dat', 'id': 0}]" if type(x)!=str or type(ast.literal_eval(x))!=list or len(ast.literal_eval(x))==0 or type(ast.literal_eval(x)[0])!=dict else x).apply(lambda x : 'no' if type(ast.literal_eval(x))!=list else x)=='no']

In [ ]:
movie['production_companies'].apply(lambda x : "[{'name': 'sin_dat', 'id': 0}]" if type(x)!=str or type(ast.literal_eval(x))!=list or len(ast.literal_eval(x))==0 or type(ast.literal_eval(x)[0])!=dict else x).apply(literal_eval)

In [ ]:
# llenar nulos y conversion de str a dict belong_collection
movie['belongs_to_collection']=movie['belongs_to_collection'].apply(lambda x : "{'id': 0, 'name': 'sin_dato','poster_path': 'sin_dato', 'backdrop_path': 'sin_dato'}" if type(x)!=str  or type(ast.literal_eval(x))!=dict else x).apply(literal_eval)

In [ ]:
# llenar nulos y conversion de str a list de las columns genres ,prodcutioncompanies ,production_countries ,spoken languages
movie['genres']=movie['genres'].apply(lambda x : "[{'id': 0,'name': 'sin_datos'}]" if type(x)!=str or type(ast.literal_eval(x))!=list or len(ast.literal_eval(x))==0 or type(ast.literal_eval(x)[0])!=dict else x).apply(literal_eval)
movie['production_companies']=movie['production_companies'].apply(lambda x : "[{'name': 'sin_datos','id':0}]" if type(x)!=str or type(ast.literal_eval(x))!=list or len(ast.literal_eval(x))==0 or type(ast.literal_eval(x)[0])!=dict else x).apply(literal_eval)
movie['production_countries']=movie['production_countries'].apply(lambda x : "[{'iso_3166_1': 'sin_datos', 'name': 'sin_datos'}]" if type(x)!=str or type(ast.literal_eval(x))!=list or len(ast.literal_eval(x))==0 or type(ast.literal_eval(x)[0])!=dict else x).apply(literal_eval)
movie['spoken_languages']=movie['spoken_languages'].apply(lambda x : "[{'iso_639_1': 'sin_datos', 'name': 'sin_datos'}]" if type(x)!=str or type(ast.literal_eval(x))!=list or len(ast.literal_eval(x))==0 or type(ast.literal_eval(x)[0])!=dict else x).apply(literal_eval)

In [ ]:
# verificqeuemo el tipo de datos de una columna

[x for x in movie['spoken_languages'].apply(type).unique()]

[list]

In [ ]:
movie.loc[movie['production_companies'].apply(lambda x : 'no es tring' if type(x)!=str  else x) =='no es tring']

In [ ]:
movie['belongs_to_collection'].apply(lambda x : 'no es tring' if type(x)!=str or type(ast.literal_eval(x))!=dict else x)

In [ ]:
#movie.loc[movie['belongs_to_collection'].apply(lambda x : 'no es tring' if type(x)!=str or type(ast.literal_eval(x))!=dict else x )=='no es tring']

[x for x in movie['genres'].apply(type).unique()]

[list]

In [ ]:
movie['release_date'].isnull().sum()

87

In [ ]:
from datetime import datetime

movie['release_date'].loc[[19725,29491,35575]]

19725     1
29491    12
35575    22
Name: release_date, dtype: object

In [ ]:
movie.loc[[19725,29491,35575]]

                                                   adult  ... vote_count
19725                                 - Written by Ørnås  ...        NaN
29491   Rune Balot goes to a casino connected to the ...  ...        NaN
35575   Avalanche Sharks tells the story of a bikini ...  ...        NaN

[3 rows x 24 columns]

# valores nulos de los campos revenue y budget : rellenando con 0

In [ ]:
# modificacion del tipo de dato en revenue y budget
movie.loc[[19725,29491,35575]]

                                                   adult  ... vote_count
19725                                 - Written by Ørnås  ...        NaN
29491   Rune Balot goes to a casino connected to the ...  ...        NaN
35575   Avalanche Sharks tells the story of a bikini ...  ...        NaN

[3 rows x 24 columns]

In [ ]:
# de las filas anteriores se observa que en las filas existe datos que no guardan relacion por tanto se ha determinado eliminarlas del dataframe

movie=movie.drop([19725,29491,35575])

In [ ]:
# reindexamos
movie=movie.reset_index(drop=True)

In [ ]:
# modificacion de tipo de dato y llenado de valores vacios y nulos en revenue y budget
movie['revenue']=movie['revenue'].astype(float)
movie['budget']=movie['budget'].astype(float)
movie['revenue']=movie['revenue'].fillna(0)
movie['budget']=movie['budget'].fillna(0)

# tratamiento de valores nulos en release_date

In [ ]:
#se eliminan los valores nulos de release date ya que release_date se utilizara en las funciones de consulta las fechas de lamzamiento son claves para una mejor interpretacion de comparacion

movie=movie.dropna(subset=['release_date']).reset_index()

# conversion de la columna release date

In [ ]:
#conversion de la columna release date o fecha de estreno   de str a datetime

movie['release_date']=movie['release_date'].apply(lambda x : datetime.strptime(x, '%Y-%m-%d'))

# creacion de la columna release_date

In [ ]:
# generamos la columna year o año de estreno

movie['Year'] = movie['release_date'].dt.year

In [ ]:
# renombramos la columna year por release_year

movie.rename(columns={"Year": "release_year"},inplace=True)

## creacion de la columna retorno de inversion (return)

In [ ]:
lista=[]
for i in range(movie.shape[0]):
  if movie['budget'][i]!=0:
     lista.append(movie['revenue'][i]/movie['budget'][i])
  else:
     lista.append(0.0)
movie['return']=pd.Series(lista)

In [ ]:
movie['return']

## eliminacion de columnas video, imdb_id, adult, original_title, poster_path ,  homepage.

In [ ]:
# el objetiovo de eliminar las columnas connsiste en variables no muy predominantes en el analisis descriptivo y modelamiento

In [ ]:
movie.drop(['video', 'imdb_id','adult','original_title','poster_path','homepage'], axis=1,inplace=True)

In [ ]:
# el resultado de eliminar columnas
movie.shape

(45363, 21)

In [ ]:
credits['id'].isna().sum()

0

In [ ]:
movie

       index  ...     return
0          0  ...  12.451801
1          1  ...   4.043035
2          2  ...   0.000000
3          3  ...   5.090760
4          4  ...   0.000000
...      ...  ...        ...
45358  45444  ...   0.000000
45359  45446  ...   0.000000
45360  45447  ...   0.000000
45361  45448  ...   0.000000
45362  45449  ...   0.000000

[45363 rows x 21 columns]

In [ ]:
# modificamos el tipo de dato de id
movie['id']=movie['id'].astype(int)

In [ ]:
# se ordenan segun la columna id
movie=movie.sort_values('id').reset_index()

In [ ]:
# cambios de indices
movie=movie.reset_index(drop=True)

In [ ]:
# dropeo de las columnas lvel_0 e index
movie.drop(['level_0', 'index'], axis=1,inplace=True)

In [ ]:
movie

                                   belongs_to_collection  ...     return
0      {'id': 0, 'name': 'sin_dato', 'poster_path': '...  ...   0.000000
1      {'id': 0, 'name': 'sin_dato', 'poster_path': '...  ...   0.000000
2      {'id': 0, 'name': 'sin_dato', 'poster_path': '...  ...   1.075000
3      {'id': 0, 'name': 'sin_dato', 'poster_path': '...  ...   0.000000
4      {'id': 10, 'name': 'Star Wars Collection', 'po...  ...  70.490728
...                                                  ...  ...        ...
45358  {'id': 0, 'name': 'sin_dato', 'poster_path': '...  ...   0.000000
45359  {'id': 0, 'name': 'sin_dato', 'poster_path': '...  ...   0.000000
45360  {'id': 0, 'name': 'sin_dato', 'poster_path': '...  ...   0.000000
45361  {'id': 0, 'name': 'sin_dato', 'poster_path': '...  ...   0.000000
45362  {'id': 0, 'name': 'sin_dato', 'poster_path': '...  ...   0.000000

[45363 rows x 20 columns]

In [ ]:
# columna de id ordenando de menor a mayor
credits=credits.sort_values('id').reset_index(drop=True)

In [ ]:
# generamos el dataframe result a partir de la union de los dos datraframes
dataframe_result=movie.merge(credits, on='id')

In [ ]:
dataframe_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45375 entries, 0 to 45374
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45375 non-null  object
 1   budget                 45375 non-null  float64
 2   genres                 45375 non-null  object
 3   id                     45375 non-null  int64
 4   original_language      45364 non-null  object
 5   overview               44434 non-null  object
 6   popularity             45375 non-null  object
 7   production_companies   45375 non-null  object
 8   production_countries   45375 non-null  object
 9   release_date           45375 non-null  datetime64[ns]
 10  revenue                45375 non-null  float64
 11  runtime                45129 non-null  float64
 12  spoken_languages       45375 non-null  object
 13  status                 45295 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45375 non-null  object
 16  vote_average           45375 non-null  float64
 17  vote_count             45375 non-null  float64
 18  release_year           45375 non-null  int64
 19  return                 45375 non-null  float64
 20  cast                   45375 non-null  object
 21  crew                   45375 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(2), object(13)
memory usage: 8.0+ MB

In [ ]:
dataframe_result['cast'][0]

[{'cast_id': 3,
  'character': 'Taisto Olavi Kasurinen',
  'credit_id': '52fe420dc3a36847f8000029',
  'gender': 0,
  'id': 54768,
  'name': 'Turo Pajala',
  'order': 0,
  'profile_path': None},
 {'cast_id': 4,
  'character': 'Irmeli Katariina Pihlaja',
  'credit_id': '52fe420dc3a36847f800002d',
  'gender': 0,
  'id': 54769,
  'name': 'Susanna Haavisto',
  'order': 1,
  'profile_path': None},
 {'cast_id': 5,
  'character': 'Mikkonen',
  'credit_id': '52fe420dc3a36847f8000031',
  'gender': 2,
  'id': 4826,
  'name': 'Matti Pellonpää',
  'order': 2,
  'profile_path': '/7WuLvkuWphUAtW6QQwtF3WrwUKE.jpg'},
 {'cast_id': 6,
  'character': 'Riku',
  'credit_id': '52fe420dc3a36847f8000035',
  'gender': 0,
  'id': 54770,
  'name': 'Eetu Hilkamo',
  'order': 3,
  'profile_path': None}]

In [ ]:
# EXPORTAR LOS DOCUMETOS LIMPIOS
movie.to_csv('peliculas.csv',index =False)
credits.to_csv('credits_peliculas.csv',index =False)
#dataframe_result.to_csv('union_dataframe.csv',index =False)